body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

#content {
    display: flex;
    flex-direction: row;
}

#controls-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 1px solid #ccc;
}

#controls-container > div {
    margin: 1em;
}
